@import 'libs/normalize';
@import 'libs/font';

@import 'base/variables';
* {
    font-family: 'GraphikLCG', sans-serif;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.date {
    display: inline-block;
    color: rgba(0, 0, 0, 0.68);
    font-size: 1.3vw;
}

.card-title {
    font-size: 1.71vw;
    color: $main-color;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.default__title {
    text-transform: uppercase;
    font-weight: 400;
    color: $main-color;
    font-size: 1.6vw;
    margin-top: 0;
    margin-bottom: 1.9vw;
}

.default__item {
    list-style-type: disc;
    font-size: 1.4vw;
    margin-left: 1.32vw;
    &::marker {
        color: $main-color;
        font-size: 1.65vw;
    }
}

.default__list {
    margin-bottom: 4vw;
}

.default__item:not(:last-child){
    margin-bottom: 1.8vw;
}

.go-link {
    font-size: 1.49vw;
    font-weight: 500;
    color: $main-color;
}

@media (min-width: 1025px) {
    .container {
        padding: 0 8.8vw;
    }
}

@import 'blocks/header';
@import 'blocks/logo';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/numbers';
@import 'blocks/news';
@import 'blocks/partners';
@import 'blocks/why';
@import 'blocks/directions';
@import 'blocks/contacts';
@import 'blocks/services';
@import 'blocks/proccess';
@import 'blocks/advantages';
@import 'blocks/project';
@import 'blocks/modal';
@import 'blocks/breadcrumbs';
@import 'blocks/slick';
@import 'blocks/slick-theme';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/footer';
