@import 'libs/normalize';
@import 'libs/font';

@import 'base/variables';
* {
    font-family: 'GraphikLCG', sans-serif;
    box-sizing: border-box;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

.header__phone:hover, .menu__link:hover, .go-link:hover, .card-title:hover, .news__readmore:hover, .kama_breadcrumbs span a:hover, .feedback__content a:hover, .contacts__form label a:hover, .page-numbers:hover, .contacts__phone:hover, .contacts__mail:hover, .post-link__linked:hover {
    opacity: 0.8;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.visually-hidden {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.show {
    display: block !important;
}

.show-flex {
    display: flex !important;
}

.hide {
    display: none !important;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.date {
    display: inline-block;
    color: rgba(0, 0, 0, 0.68);
}

.card-title {
    color: $main-color;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.default {
    margin-bottom: 6.5vw;
    & .date {
        margin-bottom: 5.2vw;
    }
    &__content {
        display: flex;
        gap: 6vw;
        &-item {
            width: calc((100% / 2) - 3vw);
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            margin-bottom: 0.6vw;
        }
    }
    &__listen {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        &.slick-initialized { 
            visibility: visible;
            opacity: 1;  
            
        }
    }

    &__image {
        display: block;
        height: 28vw;
        width: 100%;
        overflow: hidden;
        border-radius: 0.5vw;
        margin-bottom: 2vw;
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    & .slick-dots {
        bottom: 0vw;
    }
    & .slick-prev {
        left: -3.3vw;
    }
    & .slick-next {
        right: -3.3vw;
    }
}
 
.default__title {
    text-transform: uppercase;
    font-weight: 400;
    color: $main-color;
    margin-top: 0;
}

.default__item {
    list-style-type: disc;
    &::marker {
        color: $main-color;
    }
}

.go-link {
    font-weight: 500;
    color: $main-color;
}

.pagination {
    display: flex;
    justify-content: center;
    & .current {
        color: #000;
    }
}

.page-numbers {
    font-size: 1.5vw;
    margin: 1.8vw 1.4vw;
    color: #B3B2B2;
}

@media (max-width: 768px) {
    .container {
        padding: 0 4.3vw;
    }
    main {
        margin-top: 16vw;
    }
    .go-link {
        font-size: 2.5vw;
        line-height: 3.5vw;
    }
    .date {
        font-size: 2vw;
    }
    .card-title {
        font-size: 3vw;
    }
    .default__title {
        font-size: 3vw;
        margin-bottom: 3vw;
    }
    .default__item {
        font-size: 3vw;
        margin-left: 4vw;
        line-height: 5vw;
        &::marker {
            font-size: 3vw;
        }
    }
    .default__list {
        margin-bottom: 8vw;
    }
    .default__text {
        margin-top: 0;
        font-size: 3vw;
        line-height: 5vw;
        margin-bottom: 5vw;
    }
}

@media (min-width: 769px) {
    .container {
        padding: 0 8.8vw;
    }
    main {
        margin-top: 8.9vw;
    }
    .go-link {
        font-size: 1.49vw;
    }
    .date {
        font-size: 1.3vw;
    }
    .card-title {
        font-size: 1.71vw;
    }
    .default__title {
        font-size: 1.6vw;
        margin-bottom: 1.9vw;
    }
    .default__item {
        font-size: 1.4vw;
        margin-left: 1.32vw;
        &::marker {
            font-size: 1.65vw;
        }
    }
    .default__list {
        margin-bottom: 4vw;
    }
    .default__item:not(:last-child){
        margin-bottom: 1.8vw;
    }
    .default__text {
        font-size: 1.4vw;
        line-height: 2.1vw;
        margin-bottom: 3.3vw;
    }
}

@import 'blocks/header';
@import 'blocks/hamburger';
@import 'blocks/logo';
@import 'blocks/menu';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/numbers';
@import 'blocks/news';
@import 'blocks/partners';
@import 'blocks/why';
@import 'blocks/directions';
@import 'blocks/contacts';
@import 'blocks/services';
@import 'blocks/proccess';
@import 'blocks/advantages';
@import 'blocks/project';
@import 'blocks/thanks';
@import 'blocks/consultation';
@import 'blocks/feedback';
@import 'blocks/post-link';
@import 'blocks/modal';
@import 'blocks/breadcrumbs';
@import 'blocks/slick';
@import 'blocks/slick-theme';
@import 'blocks/buttons';
@import 'blocks/titles';
@import 'blocks/footer';
