.about {
    position: relative;
    margin-bottom: 13.5vw;
    & .container {
        display: flex;
        justify-content: flex-end;
        &::before {
            content: "";
            background-image: url(../../icons/atribute.svg);
            background-repeat: no-repeat;
            background-color: rgba(0,0,0,0);
            background-size: contain;
            width: 100%;
            height: 31vw;
            position: absolute;
            left: 0;
            margin-bottom: 0.2vw;
            z-index: -1;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__wrapper {
        width: 50.6vw;
    }
    &__title {
        color: $main-color;
        font-weight: 700;
        font-size: 2.56vw;
        margin-top: 0;
        margin-bottom: 3.2vw;
    }
    &__description {
        margin-top: 0;
        margin-bottom: 2.6vw;
        font-weight: 400;
        font-size: 1.4vw;
        letter-spacing: 0.047vw;
        line-height: 2.3vw;
    }
}