.breadcrumb {
    color: #B3B2B2;
}

.kama_breadcrumbs span a {
    color: #B3B2B2;
}

.kb_sep {
    transform: rotate(90deg);
}

.breadcrumb svg {
    width: 1vw;
    height: 1vw;
}

@media (max-width: 768px) {
    .breadcrumb {
        margin-bottom: 15vw;
        font-size: 3vw;
        & svg {
            width: 2vw;
            height: 2vw;
        }
    }
}

@media (min-width: 769px) {
    .breadcrumb {
        margin-bottom: 6.5vw;
        font-size: 1.37vw;
        & svg {
            width: 1vw;
            height: 1vw;
        }
    }
}