.btn {
    line-height: 1;
    text-align: center;
    border-radius: 0.5vw;
    cursor: pointer;
    &-gradient {
        background: linear-gradient(180deg, #006687 0%, #0282A8 100%);
        color: #fff;
        &:hover {
            background: linear-gradient(180deg, #0282A8 0%, #006687 100%);
        }
    }
    &-white {
        border: 0.01vw solid #fff;
        background-color: transparent;
        color: #fff;
        &:hover {
            border: 0.01vw solid #006382;
            background-color: #006382;
        }
    }
    &-blue {
        background-color: $main-color;
        color: #fff;
        &:hover {
            background-color: #006382;
        }
    }
}

@media (max-width: 768px) {
    
}

@media (min-width: 769px) {
    .btn {
        &-gradient {
            min-width: 14vw;
            padding: 0.75vw;
            font-size: 1.4vw;
        }
        &-white {
            min-width: 17vw;
            padding: 1.2vw;
            font-size: 1.48vw;
            width: fit-content;
        }
        &-blue {
            display: inline-block;
            min-width: 12.3vw;
            padding: 1.2vw 1vw 1.1vw;
            font-size: 1.15vw;
            font-weight: 400;
            border: none;
        }
    }
}