.directions {
    position: relative;
    background: linear-gradient(180deg, rgba(197, 225, 241, 0.25) 0%, rgba(197, 225, 241, 0.125) 100%);
    padding-top: 6.5vw;
    padding-bottom: 6.5vw;
    & .container {
        justify-content: flex-end;
        &::before {
            content: "";
            background-image: url(../../icons/directions.svg);
            background-repeat: no-repeat;
            background-color: rgba(0,0,0,0);
            background-size: contain;
            width: 27vw;
            height: 27vw;
            position: absolute;
            right: 10vw;
            margin-bottom: 0.2vw;
            z-index: -1;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    & .title {
        margin-bottom: 7.4vw;
    }
    &__content {
        max-width: 56%;
    }
    &__description {
        font-weight: 500;
        font-size: 1.35vw;
        line-height: 2.1vw;
        margin-bottom: 3.6vw;
    }
    &__subtitles {
        text-transform: uppercase;
        font-weight: 400;
        color: $main-color;
        font-size: 1.6vw;
        margin-top: 0;
        margin-bottom: 1.9vw;
    }
    &__list:not(:last-child) {
        margin-bottom: 4vw;
    }
    &__item {
        list-style-type: disc;
        font-size: 1.4vw;
        margin-left: 1.32vw;
        
        &::marker {
            color: $main-color;
            font-size: 1.65vw;
        }
    }
    &__item:not(:last-child){
        margin-bottom: 1.8vw;
    }
}