.feedback {
    & .container:first-child {
        display: flex;
    }
    & .container:last-child {
        display: flex;
        justify-content: center;
    }
    
    &__map {
        position:relative;
        overflow:hidden;
        & iframe {
            border: none;
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 1.5vw;
        font-weight: 500;
        color: $main-color;
    }
    &__text {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 3.5vw;
        font-weight: 500;
        font-size: 1.46vw;
        color: #000;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & .contacts__form {
            margin: 0;
        }
    }
    &__order {
        margin-top: 0;
        font-weight: 500;
        color: $main-color;
    }
    &__description {
        margin-top: 0;
        margin-bottom: 4.5vw;
        font-weight: 500;
        font-size: 1.73vw;
    }
}

@media (max-width: 768px) {
    .feedback {
        padding: 15vw 0 30vw 0;
        & .container:first-child {
            margin-bottom: 15vw;
        }
        &__content {
            width: 50%;
        }
        &__map {
            width: 50%;
            height: 45vw;
        }
        &__title {
            font-size: 3vw;
        }
        &__text {
            font-size: 2.5vw;
        }
        &__form {
            & .contacts__form {
                width: 90vw;
            }
        }
        &__order {
            margin-bottom: 5vw;
            font-size: 4vw;
        }
        &__description {
            margin-bottom: 5vw;
            font-size: 3vw;
        }
    }
    
}

@media (min-width: 769px) {
    .feedback {
        padding: 6.5vw 0 13vw 0;
        & .container:first-child {
            margin-bottom: 10.2vw;
        }
        &__content {
            width: 35%;
        }
        &__map {
            width: 65%;
            height: 37vw;
        }
        &__title {
            font-size: 1.62vw;
        }
        &__text {
            font-size: 1.46vw;
        }
        &__form {
            & .contacts__form {
                width: 38vw;
            }
        }
        &__order {
            margin-bottom: 1.4vw;
            font-size: 2.45vw;
        }
        &__description {
            margin-bottom: 4.5vw;
            font-size: 1.73vw;
        }
    }
    
}