.footer {
    
    &__top {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(52, 154, 205, 0.11) 0%, rgba(197, 225, 241, 0.06) 100%);
        & .container {
            display: flex;
        }
    }
    &__bottom {
        background: linear-gradient(180deg, #037EA7 0%, #048EC9 100%);
        & .container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    &__left {
        display: flex;
        align-items: center;
        & .logo {
            margin-right: 1.5vw;
        }
    }
    &__description {
        font-weight: 700;
        color: #006382;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.4vw;
    }
    & .copyright, & .privacy-policy{
        color: #fff;
        font-weight: 400;
    }

}

@media (max-width: 1024px) {
    .footer {
        &__top {
            & .container {
                flex-direction: column;
                align-items: center;
                padding-top: 3vw;
                padding-bottom: 3vw;
            }
        }
        &__bottom {
            & .container {
                padding-top: 2vw;
                padding-bottom: 2vw;
            }
        }
        &__left { 
            flex-direction: column;
        }
        &__description {
            font-size: 1.51vw;
            width: 40vw;
            margin-top: 2vw;
            line-height: 2.3vw;
            text-align: center;
        }
        & .copyright, & .privacy-policy{
            font-size: 1.5vw;
        }
        & .copyright {
            margin-right: 2.2vw;
        }
    }
}

@media (min-width: 1025px) {
    .footer {
        &__top {
            & .container {
                height: 8.6vw;
            }
        }

        &__bottom {
            & .container {
                height: 2.8vw;
            }
        }

        &__item {
            flex: 1 1 50%;
        }
        
        &__description {
            max-width: 24vw;
            padding-top: 1.1vw;
            font-size: 1.08vw;
            letter-spacing: 0.025vw;
            line-height: 1.6vw;
        }
        &__phone {
            padding-left: 2vw;
            font-weight: 500;
            font-size: 1.4vw;
            letter-spacing: -0.02vw;
            color: #000;
        }
        & .copyright, & .privacy-policy{
            font-size: 0.8vw;
        }
        & .copyright {
            margin-right: 1.2vw;
        }
    }
}