.header {   
    border-bottom: 0.2vw solid $main-color; 
    & .container {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        flex: 1 1 50%;
    }
    &__left {
        display: flex;
        align-items: center;
        & .logo {
            margin-right: 1.5vw;
        }
    }
    &__description {
        font-weight: 700;
        color: #006382;
    }
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 0.4vw;
    }
    &__feedback {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1.6vw;
    }
    &__contact {
        margin-right: 1.5vw;
    }
    &__phone {
        position: relative;
        display: flex;
        align-items: center;
        line-height: 1;
        &::before {
            content: '';
            background-image: url(../../icons/phone.svg);
            background-repeat: no-repeat;
            background-color: transparent;
            background-size: contain;
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            margin-bottom: 0.2vw;
        }
    }
}


@media (min-width: 1025px) {
    .header {
        & .container {
            height: 10.6vw;
        }
        &__description {
            max-width: 24vw;
            padding-top: 1.1vw;
            font-size: 1.08vw;
            letter-spacing: 0.025vw;
            line-height: 1.6vw;
        }
        &__phone {
            padding-left: 2vw;
            font-weight: 500;
            font-size: 1.4vw;
            letter-spacing: -0.02vw;
            color: #000;
        }
    }
}