.news {
    & .container {
        padding-bottom: 6.5vw;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 7.1vw;
        & .title {
            width: 70%;
        }
        & .news__go {
            font-size: 1.49vw;
            font-weight: 500;
            color: $main-color;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 3vw 3vw;
        position: relative;
        z-index: 5;
    }
    &__item {
        width: calc((100% / 3) - 2vw);
        border: 0.01vw solid $main-color;
        border-radius: 0.5vw;
        padding: 1.3vw 1.05vw;
    }
    &__listen {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        &.slick-initialized { 
            visibility: visible;
            opacity: 1;  
        }
        & .slick-list {
            margin: 0 -1.6vw;
        }
        & .slick-slide {
            margin: 0 1.6vw;
        }
    }
    &__itemen {
        border: 0.01vw solid $main-color;
        border-radius: 0.5vw;
        padding: 1.3vw 1.05vw;
    }
    &__imglink {
        display: block;
        height: 22.2vw;
        width: 100%;
        overflow: hidden;
        border-radius: 0.5vw;
        margin-bottom: 2vw;
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    & .date {
        margin-bottom: 1.85vw;
    }
    & .card-title {
        margin-bottom: 1.3vw;
        -webkit-line-clamp: 2;
    }
    &__description {
        margin-top: 0;
        font-size: 1.29vw;
        font-weight: 300;
        line-height: 1.82vw;
        margin-bottom: 2vw;
        height: 7vw;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    &__readmore {
        display: inline-block;
        margin-bottom: 0.8vw;
        font-size: 1.1vw;
        color: #686868;
        &::after {
            content: '→';
            color: $main-color;
            margin-left: 0.5vw;
        }
    }
}