.news {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-bottom: 7.1vw;
        & .title {
            width: 65%;
        }
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 3vw 3vw;
        position: relative;
        z-index: 5;
        margin-bottom: 5vw;
    }
    &__item {
        width: calc((100% / 3) - 2vw);
        border: 0.01vw solid $main-color;
        border-radius: 0.5vw;
        padding: 1.3vw 1.05vw;
    }
    &__listen {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        &.slick-initialized { 
            visibility: visible;
            opacity: 1;  
        }
        & .slick-list {
            margin: 0 -1.6vw;
        }
        & .slick-slide {
            margin: 0 1.6vw;
        }
    }
    &__itemen {
        border: 0.01vw solid $main-color;
        border-radius: 0.5vw;
        padding: 1.3vw 1.05vw;
    }
    &__imglink {
        display: block;
        width: 100%;
        overflow: hidden;
        border-radius: 0.5vw;
    }
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    & .date {
        margin-bottom: 1.85vw;
    }
    & .card-title {
        -webkit-line-clamp: 2;
    }
    &__description {
        margin-top: 0;
        font-weight: 300;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    &__readmore {
        display: inline-block;
        color: #686868;
        &::after {
            content: '→';
            color: $main-color;
            margin-left: 0.5vw;
        }
    }
    & .slick-prev {
        left: -3.3vw;
    }
    & .slick-next {
        right: -3.3vw;
    }
}

@media (max-width: 768px) {
    .news {
        margin-bottom: 15vw;
        &__imglink {
            height: 35vw;
            margin-bottom: 4vw;
        }
        & .card-title {
            margin-bottom: 2vw;
            height: 7vw;
            line-height: 3.5vw;
        }
        &__description {
            font-size: 3vw;
            height: 14vw;
            margin-bottom: 4vw;
            line-height: 3.5vw;
        }
        &__readmore {
            margin-bottom: 1vw;
            font-size: 3vw;
        }
        & .slick-dots {
            bottom: -5vw;
        }
    }
}

@media (min-width: 769px) {
    .news {
        margin-bottom: 6.5vw;
        &__imglink {
            height: 22.2vw;
            margin-bottom: 2vw;
        }
        & .card-title {
            margin-bottom: 1.3vw;
            height: 4vw;
        }
        &__description {
            font-size: 1.29vw;
            line-height: 1.82vw;
            height: 7vw;
            margin-bottom: 2vw;
        }
        &__readmore {
            margin-bottom: 0.8vw;
            font-size: 1.1vw;
        }
        & .slick-dots {
            bottom: -2.7vw;
        }
    }
}