.numbers {
    & .container {
        background: linear-gradient(180deg, rgba(197, 225, 241, 0.25) 0%, rgba(197, 225, 241, 0.125) 100%);
    }
    &__list {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        & strong {
            position: relative;
            display: inline-block;
            padding: 0 1vw;
            margin-bottom: 1.6vw;
            color: $main-color;
            &::before {
                content: "";
                background-repeat: no-repeat;
                background-color: rgba(0,0,0,0);
                background-size: contain;
                height: 100%;
                position: absolute;
                top: -2.7vw;
                margin-bottom: 0.2vw;
                z-index: -1;
                left: 50%;
                transform: translateX(-50%);
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                bottom: 0vw;
                width: 100%;
                height: 0.1vw;
                background-color: $main-color;
                transition: width .3s ease-out;
            }
        }
        & span {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 400;
            color: $main-color;
        }
        & .customers {
            &::before {
                content: "";
                background-image: url(../../icons/customers.svg);
                width: 3.1vw;
            }
        }
        & .object {
            &::before {
                content: "";
                background-image: url(../../icons/object.svg);
                width: 2.8vw;
            }
        }
        & .specialist {
            &::before {
                content: "";
                background-image: url(../../icons/specialist.svg);
                width: 2.7vw;
            }
        }
    }
}


@media (max-width: 768px) {
    .numbers {
        margin-bottom: 15vw;
        &__list{
            flex-direction: column;
            padding-top: 20vw;
            padding-bottom: 15vw;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 15vw;
            }
            & strong {
                font-size: 15vw;
                &::before {
                    top: -6vw;
                    margin-bottom: 0.2vw;
                    z-index: -1;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            & span {
                font-size: 3vw;
            }
            & .customers {
                &::before {
                    width: 6vw;
                }
            }
            & .object {
                &::before {
                    width: 6vw;
                }
            }
            & .specialist {
                &::before {
                    width: 6vw;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    .numbers {
        margin-bottom: 6.5vw;
        &__list {
            padding-top: 9.5vw;
            padding-bottom: 6.5vw;
        }
        &__item {
            & strong {
                font-size: 8.7vw;
            }
            & span {
                font-size: 1.62vw;
            }
            & .customers {
                &::before {
                    width: 3.1vw;
                }
            }
            & .object {
                &::before {
                    width: 2.8vw;
                }
            }
            & .specialist {
                &::before {
                    width: 2.7vw;
                }
            }
        }
    }
}