.partners  {
    background-color: #FAFAFA;
    & .title {
        margin-bottom: 7.4vw;
    }
    &__list {
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
        -webkit-transition: opacity 1s ease;
        &.slick-initialized { 
            visibility: visible;
            opacity: 1;  
        }
    }
    &__item {
        height: 11vw;
        border-right: 0.15vw solid $main-color;
        & img {
            width: 100%;
            height: 100%;
            object-fit: contain
        }
    }
    & .slick-prev {
        left: -3.3vw;
    }
    & .slick-next {
        right: -3.3vw;
    }
}

@media (max-width: 768px) {
    .partners {
        & .container {
            padding-top: 15vw;
            padding-bottom: 15vw;
        }
        &__item {
            height: 18vw;
        }
        & .slick-dots {
            bottom: -5vw;
        }
    }
}

@media (min-width: 769px) {
    .partners {
        & .container {
            padding-top: 6.5vw;
            padding-bottom: 6.5vw;
        }
        &__item {
            height: 11vw;
        }
        & .slick-dots {
            bottom: 1.7vw;
        }
    }
}