.proccess {
    margin-bottom: 6.5vw;
    & .title {
        margin-bottom: 7.4vw;
    }
    & ol {
        counter-reset: list; 
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        gap: 3.6vw 3vw;
        padding: 0;
    }
    & li {
        position: relative;
        width: calc((100% / 3) - 2vw);
        padding: 1.8vw 2.3vw 1.6vw 2.3vw;
        overflow: hidden;
        & span {
            width: 70%;
            display: inline-block;
            font-size: 1.28vw;
            line-height: 1.96vw;
        }
    }
    & li::before{
        position: absolute;
        bottom: -3.5vw;
        right: -1.5vw;
        counter-increment: list;
        content: counter(list); 
        font-size: 15vw;
        line-height: 1;
        font-weight: 700;
        color: #00A0E3;
        opacity: 0.1;
    }
}