.promo {
    margin-bottom: 13.5vw;
    &__slider {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__slide {
        position: relative;
        height: 41.55vw;
        & img {
            width: 100%;
            height: 100%;
            object-fit: cover
        }
        & .container {
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & h2 {
                font-size: 2.8vw;
                font-weight: 500;
                letter-spacing: 0.1vw;
                line-height: 4.2vw;
                text-transform: uppercase;
                color: #fff;
                width: 85%;
                margin-top: 0;
                margin-bottom: 2.4vw;
            }
        }
    }
    & .slick-dots {
        bottom: 1.7vw;
    }
    & .slick-prev {
        left: 3.3vw;
    }
    & .slick-next {
        right: 3.3vw;
    }
}