.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 0;
    z-index: 10;
    outline: none;
    &::before {
        display: table;
        font-size: 2vw;
        line-height: 1;
        color: #333;
    }
    &:hover, &:focus {
        opacity: 0.8;
    }
}

.slick-prev {
    left: 0;
    &::before {
        content: '\276E';
    }
}

.slick-next {
    right: 0;
    &::before {
        content: '\276F';
    }
}

/* Dots */


.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        margin: 0 0.5vw;
        button {
            border: none;
            border-radius: 50%;
            background-color: #eee;
            height: 0.5vw;
            width: 0.5vw;
            outline: none;
            font-size: 0px;
            padding: 0;
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            &:hover, &:focus {
                opacity: 0.8;
            }
        }
    }
}

.slick-active {
    button {
        background-color: #333 !important;
    }
    
}
