.why {
    & .title {
        margin-bottom: 7.4vw;
    }
}
.tabcontainer {
    margin: 0 auto;
}   
.tabheader {
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    &.shows { 
        visibility: visible;
        opacity: 1;  
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        position: relative;
        z-index: 5;
    }
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 0.01vw solid #0081bf;
        border-radius: 0.5vw;
        padding: 2.7vw 1.05vw 2.9vw 1.05vw;
        cursor: pointer;
        transition: .3s all;
        
        &_active { 
            background-color: $main-color;
            & .tabheader__img {
                filter: grayscale(1) brightness(1000%);
                z-index: 1;
            }
            & .tabheader__name {
                color: #fff;
                z-index: 1;
            }
        }
    }
    &__img {
        object-fit: contain;
        margin-top: 0.5vw;
        z-index: -1;
    }
    &__name {
        position: relative;
        color: $main-color;
        z-index: -1;
    }
}

.tabcontent {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    &.show { 
        visibility: visible;
        opacity: 1;  
    }
    & h3 {
        margin-top: 0;
        font-weight: 500;
        color: $main-color;
        line-height: 1;
    }
}

@media (max-width: 768px) {
    .why {
        & .container {
            margin: 15vw 0;
        }
    }
    .tabheader {
        &__items {
            gap: 7.1vw 7.2vw;
        }
        &__item {
            flex: 0 0 calc((100% / 3) - 5.4vw);
        }
        &__img {
            height: 6vw;
            width: 8vw;
            margin-bottom: 2vw;
        }
        &__name {
            font-size: 3vw;
        }
    }
    .tabdescr {
        width: 100%;
    }
    .tabcontent {
        & h3 {
            margin-bottom: 5vw;
            font-size: 4vw;
        }
        &__descr {
            font-size: 3vw;
            line-height: 5vw;
        }
    }
}

@media (min-width: 769px) {
    .why {
        & .container {
            margin: 6.5vw 0;
        }
    }
    .tabheader {
        &__items {
            gap: 7.1vw 7.2vw;
        }
        &__item {
            flex: 0 0 calc((100% / 4) - 5.4vw);
        }
        &__img {
            height: 4.2vw;
            width: 4.2vw;
            margin-bottom: 0.6vw;
        }
        &__name {
            font-size: 2.2vw;
        }
    }
    .tabdescr {
        width: 35vw;
    }
    .tabcontent {
        & h3 {
            margin-bottom: 1vw;
            font-size: 2.3vw;
        }
        &__descr {
            font-size: 1.3vw;
            line-height: 1.7vw;
        }
    }
}